


.gallery {

    display: grid;
    max-width: 850px;

    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 15px;
    margin:auto;
}
.gallery img {
    width: 100%;
}

#search {
    display: grid;
     margin: auto;
     margin-bottom: 20px;
     padding:20px;
     width: 40%;
     height: 10px;
     border-radius: 5px;
 }
 /*input[type=text] {
     width: 30%;
}*/
